.course-info {
  padding: 28px 0 0;
  margin: 0 0 90px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto 90px;
    padding: 50px 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    padding: 38px 0 0;
  }
}

.course-info__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 73px;

  @media (min-width: $tablet-width) {
    margin: 0 0 162px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 208px;
  }
}

.course-info__number-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 0 0 -28px;
    opacity: .1;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    height: 117px;
    margin: 0 0 -45px;
  }
}

.course-info__title {
  max-width: 330px;
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 12px 0 0;
    font-size: 24px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 36px;
    line-height: 49px;
  }
}

.course-info__content {
  margin: 0 0 30px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 0 40px;
    padding: 0 60px 0 387px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 117px;
    padding-left: 488px;
  }
}

.course-info__image {
  display: block;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -54px;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 50px;
    left: 0;
    max-width: 472px;
    transform: translateY(-30%);
  }
}

.course-info__description {
  margin: 0 0 17px;

  @media (min-width: $desktop-width) {
    margin: 0 0 26px;
  }
}

.course-info__description-title {
  margin: 0 0 10px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
}

.course-info__description-text {
  @media (min-width: $tablet-width) {
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.course-info__price {
  margin: 0 0 29px;
  font-size: 13px;
  line-height: 17px;

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.course-info__price-title {
  margin: 0 0 10px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
}

.course-info__price-list {
  margin: 0 0 6px;

  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
  }
}

.course-info__price-item:not(:last-child) {
  margin: 0 0 5px;
}

.course-info__price-value {
  font-weight: 700;
  color: $color_red_bright;
}

.course-info__price-duration {
  white-space: pre-wrap;
}

.course-info__price-notice {
  @media (min-width: $tablet-width) {
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.course-info__discount-value {
  font-weight: 700;
  color: $color_red_bright;
}

.course-info__appointment-button {
  @media (min-width: 375px) {
    width: 50%;
    min-width: 200px;
  }
}

.course-info__button-back-wrap {
  width: max-content;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
