.option-card {
  position: relative;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    width: 642px;
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    width: 920px;
    padding-top: 139px;
    padding-right: 79px;
  }
}

.option-card__number-icon {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    right: 81px;
    width: 173px;
    height: 196px;
  }
}

.option-card__image-wrapper {
  justify-content: center;
  display: flex;
  max-width: 354px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 550px;
  }
}

.option-card__image {
  display: block;
  width: 100%;
  margin-top: -5px;
  object-fit: cover;
}

.option-card__content {
  max-width: 354px;
  padding: 10% calc(10% + 3px) calc(11% + 3px);
  background-color: #fef5f5;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .25);

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;
    width: 305px;
    padding: 40px 25px 40px 18px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px;
  }
}

.option-card__title {
  margin-top: 0;
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: $color_black_1;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    margin-right: -10px;
    font-size: 18px;
    line-height: 108%;
  }
}

.option-card__annotation {
  display: block;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: $color_black_1;
}

.option-card__description {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  color: $color_black_1;
}

.option-card__more-button {
  display: block;
  width: 100%;
  padding: 12px;
}

.option-card--reversed {
  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-left: 79px;
    padding-right: 0;
  }

  .option-card__image-wrapper {
    @media (min-width: $tablet-width) {
      justify-content: flex-end;
      order: 2;
    }

    @media (min-width: $desktop-width) {
      left: auto;
      right: 0;
    }
  }

  .option-card__number-icon {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
    }

    @media (min-width: $desktop-width) {
      left: 81px;
    }
  }
}
