.main-nav__item {
  margin: 0 0 56px;

  @media (orientation: landscape) and (max-height: 400px) {
    margin: 0 0 16px
  }
}

.main-nav__svg {
  flex-shrink: 0;
  margin-left: 10px;
  transition: .1s;
}

.main-nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 2px;
  font: inherit;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  text-decoration: none;
  color: $color_black_1;
  border: 0;
  border-bottom: 1px solid $color_black;
  background: transparent;
  transition: .1s;

  &:hover,
  &:focus {
    padding-left: 12px;
    color: $color_red;
    border-color: $color_red;

    .main-nav__svg {
      margin: 0 0 -5px;
      fill: $color_red;
    }
  }

  &:active {
    opacity: .8;
  }

  &__button-to-form-wrap {

  }
}
