.page-header {
  position: relative;
  z-index: 10;
}

.page-header__menu-pre-wrapper {
  position: fixed;
  top: 0;
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px 16%;
  opacity: 1;
  background: $color_yellow;
  transition: all .7s ease;

  &--hide {
    z-index: -2;
    top: 100vw;
    opacity: 0;
  }
}

.page-header__menu-wrapper {
  flex-grow: 1;
  margin: auto 0;
  padding-bottom: 25px;
}

.page-header__button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background: $color_red;

  @media (min-width: $tablet-width) {
    top: 0;
    bottom: auto;
    background-color: transparent;
  }
}

.page-header__toggle-menu-button {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 77px / 2);
  width: 77px;
  height: 77px;
  padding: 0;
  border: 6px solid $color_red;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 0;
    bottom: auto;
    left: 0;
    width: 63px;
    height: 63px;
    border-width: 0;
    background-color: $color_yellow;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
    left: 19px;
    width: 80px;
    height: 80px;
  }

  &:hover,
  &:focus {
    @media (min-width: $desktop-width) {
      opacity: .7;
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      opacity: .5;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: calc(50% - 5px / 2);
    left: calc(50% - 43px / 2);
    width: 43px;
    height: 5px;
    border-radius: 2.5px;
    background-color: $color_red;
    transition: all .7s ease;

    @media (min-width: $tablet-width) {
      left: calc(50% - 31px / 2);
      width: 31px;
      height: 2px;
      background-color: $color_black_1;
    }

    @media (min-width: $desktop-width) {
      left: calc(50% - 38px / 2);
      width: 38px;
      height: 2px;
    }
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.page-header__toggle-menu-button--open-menu {
  &::before {
    transform: rotate(0) translateY(-4px);

    @media (min-width: $tablet-width) {
      transform: rotate(0) translateY(-3px);
    }
  }

  &::after {
    width: 25px;
    transform: rotate(0) translateY(7px);

    @media (min-width: $tablet-width) {
      width: 19px;
      transform: rotate(0) translateY(6px);
    }

    @media (min-width: $desktop-width) {
      width: 23px;
    }
  }
}
