.article {
  padding-top: 102px;
}

.article__content {
  max-width: 414px;
  margin: 0 auto 40px;
  padding: 0 19px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    width: 520px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 709px;
  }
}

.article__item {
  position: relative;
  padding: 34px 11px 20px;
  background-color: $color_pink;
  border-radius: 15px;
  box-shadow: 1px 4px 17px 0 rgba($color_black, .25);

  @media (min-width: $tablet-width) {
    padding: 48px 22px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 38px;
  }
}

.article__title {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 41px;
  }
}

.article__image-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 34px;
  padding-bottom: 44%;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    padding-bottom: 65%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    padding-bottom: 48%;
  }
}

.article__category {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 20px;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 12px;
  font-size: 7px;
  line-height: 10px;
  font-weight: 700;
  color: $color_white;
  background-color: $color_orange;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    font-size: 11px;
    line-height: 15px;
    left: 22px;
  }

  @media (min-width: $desktop-width) {
    top: 27px;
    left: 38px;
  }
}

.article__image {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid $color_pink_1;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.article__text,
.article__subtitle {
  margin: 0;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.article__subtitle {
  margin-bottom: 1.4em;
}

.article__button-back {
  width: fit-content;
  margin: 0 auto;
}
