.blog {
  padding: 54px 0 0;
  margin: 0 0 70px;

  @media (min-width: $tablet-width) {
    padding: 57px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 0;
  }
}

.blog__content {
  margin: 0 auto;
  padding: 0 7%;

  @media (min-width: $tablet-width) {
    max-width: 642px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 882px;
  }
}

.blog__title {
  margin: 0 0 63px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 97px;
    font-size: 50px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 130px;
    font-size: 72px;
    line-height: 98px;
  }
}

.blog__note {
  margin: 0 0 33px;
  background: $color_pink;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba($color_pink, .8);

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px;
    font-size: 21px;
  }
}

.blog__filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px;
  }
}

.blog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 107px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 39px;
    grid-row-gap: 106px;
  }
}

.blog__pagination {
  width: max-content;
  margin: 70px auto 0;
}

.blog__item {
  margin: 0 0 71px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
  }
}
