.class-options {
  padding: 47px 0 220px;
  background-image:
    url("/assets/images/bg-header-image-1.png"),
    url("/assets/images/options-bg-line-1-mobile.png"),
    url("/assets/images/options-bg-line-2-mobile.png"),
    url("/assets/images/options-bg-line-3-mobile.png");
  background-repeat: no-repeat;
  background-position:
    left 83% top -112px,
    left -23px top 33%,
    right calc(50% - 40px) top 65%,
    left -173px bottom 4%;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    background-image:
      url("/assets/images/bg-header-image-tablet-1.png"),
      url("/assets/images/options-bg-line-1-mobile.png"),
      url("/assets/images/options-bg-line-2-mobile.png"),
      url("/assets/images/options-bg-line-3-mobile.png");
    background-position:
      left 50% top -109px,
      left -23px top 37%,
      right -137px top 65%,
      left -110px top 93%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1920px;
    background-image:
      url("/assets/images/bg-header-image-desktop-1.png"),
      url("/assets/images/options-bg-line-1-desktop.png"),
      url("/assets/images/options-bg-line-2-mobile.png"),
      url("/assets/images/options-bg-line-3-mobile.png");
    background-position:
      left 50% top -254px,
      left -4% top 39%,
      right -10% top 71%,
      left -10% top 99%;
  }

  @media (min-width: $desktop-width-xl) {
    margin: 0 auto;
    background-position:
      left 50% top -254px,
      left 10% top 37%,
      right 10% top 69%,
      left 10% top 99%;
  }
}

.class-options__title {
  max-width: 330px;
  margin: 0 auto 90px;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: $color_black_1;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
    font-size: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 157px;
    font-size: 72px;
  }
}

.class-options__list {
  width: fit-content;
  margin: 0 auto;
  padding: 0 7%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.class-options__item:not(:last-child) {
  margin: 0 0 97px;

  @media (min-width: $tablet-width) {
    margin: 0 0 73px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 128px;
  }
}
