.index {
  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    background-image: url("../assets/images/index-bg-line-3-tablet.png");
    background-repeat: no-repeat;
    background-position: right calc(20% - 320px) top 500px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../assets/images/index-bg-line-3-desktop.png");
    background-position: right calc(20% - 194px) top 667px;
  }
}


.index__first-screen {
  margin-bottom: 109px;

  @media (min-width: $desktop-width) {
    margin-bottom: 208px;
  }
}

.index__about-me {
  margin-bottom: 100px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.index__options {
  max-width: 364px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
