.index {
  margin: 0 0 60px;

  @media (min-width: $tablet-width) {
    margin: 0 0 100px;
    background-image: url("/assets/images/index-bg-line-3-tablet.png");
    background-repeat: no-repeat;
    background-position: right calc(20% - 320px) top 580px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 150px;
    background-image: url("/assets/images/index-bg-line-3-desktop.png");
    background-position: right calc(20% - 194px) top 667px;
  }
}

.index__first-screen {
  margin: 0 0 100px;

  @media (min-width: $desktop-width) {
    margin: 0 0 208px;
  }
}

.index__button-options-wrap {
  margin: 42px auto 0;
  padding: 0 7%;

  @media (min-width: $tablet-width) {
    margin: 42px auto 0;
    width: 768px;
    padding: 0 365px 0 64px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
    padding: 0 523px 0 117px;
  }
}
