.appointment-modal {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  padding: 1% 0;
  background: rgba(#000, .2);
  overflow: auto;
}

.appointment-modal--closed {
  display: none;
}

.appointment-modal__container {
  position: relative;
  width: 98%;
  max-width: 850px;
  margin: auto;
  padding: 54px 35px 60px;
  border-radius: 5px;
  background: $color_pink;
}

.appointment-modal__title {
  margin: 0 0 76px;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}

.appointment-modal__note {
  margin: 0 0 70px;
  text-align: center;
}

.appointment-modal__form {
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "name email"
      "message message"
      "submit submit";
    gap: 63px 20px;
  }
}

.appointment-modal__name-input,
.appointment-modal__email-input,
.appointment-modal__message-input {
  display: block;
  width: 100%;
  padding: 4px 0;
  font: inherit;
  font-size: 15px;
  line-height: 20px;
  color: $color_black;
  border: 0;
  border-bottom: 1px solid $color_black_2;
  outline: none;
  background: transparent;

  &:hover,
  &:focus {
    box-shadow: inset 0 -1px 0 0 $color_black_2;
  }

  &::placeholder {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.7;
  }
}

.appointment-modal__name-input {
  grid-area: name;
}

.appointment-modal__email-input {
  grid-area: email;
}

.appointment-modal__message-input {
  grid-area: message;
  resize: vertical;
}

.appointment-modal__submit-button {
  width: 33%;
  min-width: 177px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-area: submit;
  }
}

.appointment-modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 35px;
  height: 35px;
  border: 0;
  background: transparent;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 2px;
    height: 30px;
    background: $color_black_2;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.appointment-modal__succeed-window {
  width: 90vw;
  max-width: 500px;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
  background: $color_pink;
}

.appointment-modal__succeed-message {
  font-weight: 700;
  text-align: center;
  color: $color_black_1;
}
