.mail-display {
  position: relative;
  display: flex;
}

.mail-display__popup-button {
  display: flex;
  width: 30px;
  height: 30px;
  margin: auto;
  padding: 2px 0 0;
  background-color: $color_pink;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 37px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 0 0 2px;
  }

  &:hover,
  &:focus {
    background-color: $color_yellow;
  }

  &:active {
    opacity: .8;
    background-color: $color_yellow;
  }

  & svg {
    display: block;
    margin: auto;

    @media (min-width: $desktop-width) {
      width: 20px;
      height: 20px;
    }
  }
}

.mail-display__popup {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding: 4px;
  background-color: $color_yellow;
  border-radius: 4px;
  transform: translate(-50%, -110%);

  @media (min-width: $tablet-width) {
    transform: translate(0, -110%);
  }
}

.mail-display__popup--opened {
  display: flex;
}

.mail-display__value {
  margin-right: 5px;
  padding: 3px 5px;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $color_black_1;
  background-color: $color_white;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $color_black;
    box-shadow: inset 0 0 0 1px $color_black_1;
  }
}

.mail-display__copy-button {
  padding-top: 2px;
  border: 1px solid $color_black_1;
  border-radius: 4px;
  background-color: $color_white;

  &:hover,
  &:focus {
    background-color: $color_yellow;
  }
}

.mail-display__check-icon {
  position: absolute;
  right: 7px;
  top: -28px;
  display: block;
}
