.filter {
  position: relative;
  z-index: 2;
  width: 200px;
  font-weight: 700;
  color: $color_black_2;
  transition: box-shadow .4s;
}

.filter--opened {
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba($color_black, .25);
  transition: 0s;
}

.filter__toggle-button {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 13px 30px;
  font: inherit;
  color: inherit;
  white-space: nowrap;
  border: none;
  background: $color_pink;

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .7;
  }

  & svg {
    position: absolute;
    top: 17px;
    right: 10px;
    transition: .4s;
  }
}

.filter__options-list {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 0;
  width: 100%;
  padding: 14px 20px 4px;
  opacity: 0;
  border-radius: 7px;
  background: $color_pink;
  box-shadow: 0 4px 4px 0 rgba($color_black, .25);
  transform: translateY(100%) scale(1, 0);
  transform-origin: center top;
  transition: .2s;
  visibility: hidden;
}

.filter__option-picker {
  display: block;
  width: 100%;
  padding: 7px 2px 13px 18px;
  font: inherit;
  color: inherit;
  text-align: left;
  border: none;
  border-top: 1px solid rgba($color_black, .15);
  background: $color_pink;

  &:hover,
  &:focus {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}

.filter__option-picker--active {
  color: $color_red;
}

.filter--opened {
  .filter__options-list {
    opacity: 1;
    transform: translateY(100%) scale(1, 1);
    visibility: visible;
  }

  .filter__toggle-button {
    & svg {
      transform: rotate(180deg);
    }
  }
}
