.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $color_pink;
  border-radius: 9px;
  outline: none;

  &:hover,
  &:focus {
    background-color: $color_yellow;
  }

  &:active {
    opacity: .8;
    background-color: $color_yellow;
  }
}
