*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: Nunito, Arial, serif;
  font-size: 17px;
  line-height: (25 / 17);
  font-weight: 300;
  color: $color_black_1;
  background: $color_pink;

  @media (min-width: $desktop-width) {
    font-size: 19px;
  }
}

button,
a {
  cursor: pointer;
}

ul, p {
  list-style: none;
  margin: 0;
  padding: 0;
}
