.page-down-button {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 30vh;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 20px;
  border-width: 0;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &:hover,
  &:focus {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }
}
