.page-down-button {
  position: fixed;
  z-index: 50;
  right: 20px;
  top: 30vh;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 20px;
  border: 0;
  background: transparent;
  transition: .2s;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &:hover,
  &:focus {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }
}

.page-down-button--hidden {
  transform: scale(0);
  transform-origin: bottom;
}
