.about-me {
  min-height: 460px;
  position: relative;
  background-image:
    url("/assets/images/index-bg-line-6-mobile.png"),
    url("/assets/images/index-bg-line-7-mobile.png");
  background-repeat: no-repeat;
  background-position:
    right calc(20% - 73px) top 0,
    right calc(20% - 100px) top 495px;

  @media (min-width: $tablet-width) {
    background-image: url("/assets/images/about-me-photo-bg-tablet.png");
    background-position: center 96px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/assets/images/about-me-photo-bg-desktop.png");
    background-position: center 8px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -245px;
    left: -70px;
    width: 350px;
    height: 460px;
    background: url("/assets/images/index-bg-line-8-mobile.png") center no-repeat;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.about-me__content {
  margin: 0 auto;
  padding: 0 7%;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 768px;
    padding: 0 365px 0 54px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
    max-width: 1152px;
    padding: 0 500px 0 132px;
  }
}

.about-me__title {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0 0 51px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 87px;
    font-size: 72px;
    line-height: 98px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -12px;
    left: -8px;
    width: 580px;
    height: 300px;
    background: url("/assets/images/index-bg-line-5-mobile.png") no-repeat;
    transform: translate(-59%, -61%);

    @media (min-width: $tablet-width) {
      background-image: url("/assets/images/index-bg-line-2-tablet.png");
      transform: translate(-38%, -61%);
    }

    @media (min-width: $desktop-width) {
      width: 680px;
      height: 500px;
      background-image: url("/assets/images/index-bg-line-2-desktop.png");
      transform: translate(-56%, -55%);
    }
  }
}

.about-me__image-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 134px;
    right: 77px;
  }

  @media (min-width: $desktop-width) {
    top: -13px;
    right: 109px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 430px;
    background: url("/assets/images/about-me-photo-bg-mobile.png") center no-repeat;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.about-me__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 247px;
    height: 451px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 732px;
  }
}

.about-me__text {
  margin: 0;
  text-shadow: 1px 0 0 #fff;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }
}
